---

---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>あそびば</title>
	</head>
	<body>
		<header>
			<div class="container">
			<h1><a href="index.html">あそびば</a></h1>
			<nav>
				<ul>
					<li><a href="Profile/Profile.html">プロフィール</a></li>
					<li><a href="Blog/Blog.html">ブログ</a></li>
					<li><a href="Games/Games.html">ゲーム</a></li>
					<li><a href="Tools/Tools.html">ツール</a></li>
				</ul>
			</nav>
			</div>
		</header>

		<main>
			<h1>ブログ</h1>
			<h2>一覧</h2>
			
		</main>
	</body>
</html>
