---

---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>あそびば</title>
	</head>
	<body>
		<header>
			<div class="container">
			<h1><a href="index.html">あそびば</a></h1>
			<nav>
				<ul>
					<li><a href="Profile/Profile.html">プロフィール</a></li>
					<li><a href="Blog/Blog.html">ブログ</a></li>
					<li><a href="Games/Games.html">ゲーム</a></li>
					<li><a href="Tools/Tools.html">ツール</a></li>
				</ul>
			</nav>
			</div>
		</header>

		<main>
			<h1>プロフィール</h1>
			<h2>kamejiro</h2>
            <dev class="profile">
                <ul>
                    <li><p>誕生日：10月5日</p></li>
                    <li><p>好きな飲物：NOPE</p></li>
                    <li><p>得意な楽器：ギター</p></li>
                    <li><p>好きなアーティスト：OSTER project、大石昌良</p></li>
                    <li><p>趣味：楽器演奏、音楽鑑賞、作曲、テトリス</p></li>
                </ul>
            </dev>
			
		</main>
	</body>
</html>
